* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
html,
body {
	background: white;
    font-family: 'Raleway', sans-serif;

}


/**/

.footer,
.navbar {
    background: linear-gradient(to top left, #28b4ad, #63cbd3);
}

/*header*/
.jumbotron {
   /* background: radial-gradient(#fff, #12e7dd);*/
    background: linear-gradient(rgba(0, 0, 0, 0.721), rgba(0, 0, 0, 0.219)), url(../images/white.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    color: #fff;

}

/*.box:hover {
   background: linear-gradient(to top left, #28b4ad, #63cbd3);
   color: #fff;
}*/
.box a {
    color: black;
}
.box a:hover {
     color: #28b4ad;
}
.box {
    margin-bottom: 10px
}
.card-body h4 {
    font-weight: bold;
}
/*End*/

section {
	margin-top: 50px

}
.header-section{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 40px;
}
.line:after {
    display: block;
    height: 2px;
    background-color: #28b4ad;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.new-course {
    text-transform: uppercase;
}
/*Modal login*/
/* Modal */
.modal-content {
    color: #28b4ad;
    background: #fff;
    
}
.modal-title {
    text-align: center;
    margin-top: 30px;
}
.input-icons i { 
    position: absolute; 
} 
  
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 
.icon { 
    padding: 10px; 
    color: rgb(167, 168, 167); 
    min-width: 50px;
    font-size: 20pt;
    text-align: center; 
    background: linear-gradient(to top left, #378d89, #39b6be);
} 
 .icons-star {
 	color: orange;
 }
.input-fields { 
    width: 100%; 
    padding: 10px; 
    text-align: center; 
} 
.btn-login {
     background: #28b4ad;
    color: white;
}
.btn-login:hover {
    background: gray;
    color: white;

}
/*End*/
/*.header-tagline{
	width:  80%;
	margin: auto;
    
}
*/
/*Register*/
#registerUser {
	width: 100%;
}
#services {
	background: #ebebeb;
}
blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}


.section-testimonials{
    padding-top: 20px;
	padding-bottom: 20px;
      background-color: ;
}
.icons-why-us {
    font-size: 30px; 
    color:  #28b4ad;
}
.slogan {
  

}
/*.login {
    background: gray;
   padding: 20px
    
}*/
/*.wow {
    min-height: 50vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin:  auto;
}
*/
.header-btn {
    margin-bottom: 20px;
}
.header-tagline {
    display: flex;

    margin: auto;
    align-items: center;
    min-height: 60vh
}
.wow {

    width: 90%;
    margin: auto;
}
.cover{
width: 70%;


}
.login {
 background: #fff;
 padding: 20px;
 border-radius: 20px;
 margin-top: 10px;
}
.btn-enroll{
    background: linear-gradient(to top left, #28b4ad, #63cbd3);
    color: #fff;
}
.btn-enroll:hover{
    background: #fff;
    color: #28b4ad
}
span {
    color: #28b4ad;
}


/*
@media (max-width: 1350px) {
       .presentation {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    min-height: 20vh
}
h1 {
    font-size: 21pt;
}

.login {


    width: 80%;
    margin-left: 40px;
    margin-top: 20px;
    background: gray;
    padding: 30px;
    align-items: center;
    
}

@media (max-width: 1200px) {
    body{
        background: red;
    }

    .login {
        margin-left: -90px;
    margin-right: 100px;
    width: 80%;
  
    margin-top: 20px;
    background: gray;
    padding: 30px;
    align-items: center;

}
@media (max-width: 1024px) {
    body {
        background: blue;
    }
}
@media (max-width: 860px) {
      body {
        background: yellow;
    }
    .presentation {
    display: flex;
    flex-direction: column;}
      .login {
       
    margin-right: 100px;
    width: 80%;
  margin-left: 100px
    margin-top: 20px;
    background: gray;
    padding: 30px;
    align-items: center;
}*/

.left-img img{
    height: 100vh;
    width:90%;
    margin: auto;

}
.create-course {
    margin: 20px;
    background: color: rgba(161, 156, 156, 0.671);
    padding: 20px;
    border-right: 5px solid #28b4ad; 
  
}
.create-course i,
 .create-course h3{
    color: #28b4ad;
    text-transform: uppercase;
}
.card-body:hover,
{
    background: #28b4ad;
    color: #fff;
}
.card-body,
.card-footer {
    background: #ebebeb;
}
.card-title {
    font-weight: bold;
}
.btn-view-course {
    background: #28b4ad;
}
.btn-view-course:hover {
    background: gray;

}
.btn-create-course {
    background: #28b4ad;
    color: white;
}
.course-section {
    height: 69vh;
    background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.719)), url(../images/e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
   background: linear-gradient(to top left, #28b4ad, #63cbd3);
    padding: 50px;
    font-size: 80%;

}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}
.social-links i:hover {
    color: gray;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: white;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}



footer p {
    color: white;
    text-align: center;
    margin-top: 20px;
}



/*lofin*/
.section-login {
    margin-top: 100px;
    background: red;
    width: 80%;
    margin: auto;
    border-radius: 20px;
    height: 80vh;
}
.signin {
    background: yellow
}

.login-img-1 {
       background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.719)), url(../images/bg-1.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

}
.h {
   
        background:rgba(0, 0, 0, 0.521);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    border-radius: 20px;
}
.aa {
    background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.719)), url(../images/bg-1.jpg);
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}
.add-course {
  margin-top: 120px;
}
.not-registered {
    color: black;
    font-size: 10pt;
}
.not-registered:hover {
    color: #28b4ad;
    font-size: 10pt;
}
.login-presentation{
    margin-top: 100px;
}
.sign-in-text {
    color:#28b4ad; 
    font-weight: bold;
}
.log-section {
    height: 15vh;
}
.header-button {
    
    margin: 20px;
}